[*.cs]

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none
